<header class="main-header" id="header">
    <div class="inner-container">
      <section class="header">
    
        <button class="header-menu" data-open-menu>
          <svg class="header-menu__svg">
            <use href="../images/small-items/burger-menu.svg"></use>
          </svg>
        </button>
  
        <nav class="header-navigation">
          <ul class="navigation-list">
            <li class="navigation-list__item">
              <a href="#editions" class="navigation-list__link">Editions</a>
            </li>
            <li class="navigation-list__item">
              <a href="#dual-sense" class="navigation-list__link">Controller</a>
            </li>
            <li class="navigation-list__item">
              <a href="#trailer" class="navigation-list__link">About Game</a>
            </li>
            <li class="navigation-list__item">
              <a href="#explore" class="navigation-list__link">Explore</a>
            </li>
            <li class="navigation-list__item">
              <a href="#news" class="navigation-list__link">News</a>
            </li>
            <li class="navigation-list__item">
                <a href="#faq" class="navigation-list__link">Faq</a>
              </li>
          </ul>
        </nav>

        <p class="header-language"> English
            <svg class="header-language__svg">
                <use href="../images/small-items/nav-arrow.svg"></use>
            </svg>
        </p>

        <div class="header-countdown">
            <p class="header-countdown__realease">Realease:</p>
            <ul class="countdown-list">
                <li class="countdown-list__item">20</li>
                <li class="countdown-list__item">20</li>
                <li class="countdown-list__item">59</li>
                <li class="countdown-list__item">D</li>
                <li class="countdown-list__item">H</li>
                <li class="countdown-list__item">M</li>
            </ul>
          </div>
    
        </section>
    </div>
  </header>