body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}
*{
  margin: 0;
  padding: 0;
}
body{
  background: black;
}
.header {
  display: flex;
  align-items: center;
  width: 100%;
  padding-top: 46.8px;
}

.main-header {
  background-image: url('./images/hero/kratos-hero.jpg');
  background-size: 1364px 764px;
  background-position: right; 
  background-repeat: no-repeat; 
  width: 100%;
  height: 100%;
}
.inner-container{
  margin-left: 282px;
  margin-right: 217px;
}
.header-menu {
  display: flex;
  flex-direction: row;
  padding-top: 50.35px;
  padding-left: 288px;
  padding-right: 50px;
  width: 25px;
  height: 17px;
}

.header-countdown__realease {
  color: #8c96a0;
  margin-top: 34px;
  margin-right: -30px;
}
.header-language{
  margin-right: 426px;
}
.header-countdown,
.countdown-list {
  display: flex;
}

.header-countdown {
  column-gap: 20px;
}

.countdown-list__item {
  font-weight: 700;
  font-size: 40px;
  color: #a9c7c7;
}

.navigation-list {
  display: flex;
  column-gap: 31px;
  align-items: center;
  margin-right: 32px;
}

.navigation-list__item {
  font-size: 14px;
  line-height: 193%;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
}

.navigation-list__item a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
  transition: all .7s;
}

.navigation-list__item a:hover {
  color: #8856d9;
}

li {
  list-style-type: none;
}

.countdown-list-article {
  display: flex;
  justify-content: space-around;
}

.countdown-list {
  column-gap: 6px;
}

.countdown-list-article li {
  font-size: 16px;
}

/* HERO */

.hero {
 
}

.hero__title {
  font-weight: 600;
  font-size: 100px;
  line-height: 100%;
  color: #fff;
  margin-bottom: 26.8px; 
}

.hero__paragr {
  margin-bottom: 49.4px; 
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #a9c7c7;
}

.hero__btn {
  width: 145px;
  height: 41px;
  border-radius: 6px;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  background-color: #8856d9;
  display: block;
}