@mixin flex($justify-content:space-between, $align-items:center, $flex-dir:row, $wrap:nowrap){
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
    flex-direction: $flex-dir;
    flex-wrap: $wrap;
}
