.header {
    display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding-top: 50.35px;
  &-menu {
    display: flex;
    flex-direction: row;
    padding-top: 50.35px;
    padding-left: 288px;
    padding-right: 50px;
    width: 25px;
    height: 17px;
  }
}

.navigation-list {
    display: none;
    width: 639px;
    height: 27.23px;
    padding-top: 46.77px;
    margin: 31px;
  }
